/* color palette from <https://github.com/vuejs/theme> */
@import "./fonts.css";

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f3f6;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: #f9fafa;
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --color-header-text: #535762;
  --color-header-hover: #2a2e3e;

  --sidebar-width: 150px;
  --header-height: 88px;
  --accent1: rgb(57, 43, 184);
  --accent2: rgb(29, 18, 122);
  --accent3: #cef4e9;
  --positive: #cde2ff;
  --warning: #ffe5d8;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-light: var(--vt-c-divider-light-1);
  --color-border-table: #ebeef2;

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text2: black

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text2);
  background: var(--color-background);
  transition: color 0.2s, background-color 0.5s;
  font-family: "Montserrat", "Roboto", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
