@import "./base.css";
a,
a:visited {
  color: var(--accent1);
}

a:hover {
  color: var(--accent2);
}

.bg-positive {
  background-color: var(--positive);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-warning-accent {
  background-color: var(--warning-bg);
}

.bg-ping {
  background-color: var(--accent3);
}

.color-warning {
  color: var(--warning-text);
}

.color-accent {
  color: var(--accent1);
}

.widget {
  box-shadow: 0 1px 2px rgb(214 219 226 / 50%), 0 1px 2px rgb(214 219 226 / 50%);
  background-color: white;
}
